<section class="container-fluid gradient py-4 position-relative">
  <div class="anim-1" id="divisor"></div>
  <div class="py-5" [class.p-section-l]="screenWidth > 572" [class.w-50]="screenWidth > 572" [class.w-75]="screenWidth < 572">
      <h1 class="text-big color5">Finalmente...</h1>
      <p class="text-big color5">
        Quiero tomarme un momento para agradecerle por visitar mi portfolio. Me siento muy agradecido por el tiempo que ha   dedicado a revisar mi trabajo y estoy emocionado de tener la oportunidad de compartir mis habilidades y experiencia con usted. <br> <br>

        Sé que hay muchas opciones en línea para encontrar talentosos profesionales creativos y aprecio que haya considerado mi trabajo en su búsqueda. Estoy comprometido en ofrecer siempre mi mejor trabajo y espero que lo que ha visto en mi portfolio refleje eso. <br> <br>
        
        Por último, me gustaría invitarlo a ponerse en contacto conmigo si tiene alguna pregunta o si desea discutir alguna oportunidad de colaboración. Estoy siempre en busca de nuevos desafíos y me encantaría tener la oportunidad de trabajar con usted en el futuro. ¡Gracias de nuevo por visitar mi portfolio!
      </p>
      <div class="d-block">
        <button class="trans-color p-3" (click)="enviarCorreoGmail()" type="button">Enviar Mensaje</button>
      </div>
  </div>
</section>