<section class="container-fluid gradient py-5">

    <h1 class="text-big text-start px-2 bg-1 color2 rounded-end">Experiencia Laboral</h1>
    <p class="text-start text-small py-3"  [class.px-5]="screenWidth > 982"> En esta sección de experiencia laboral, notarás que no tengo experiencia previa en el campo del desarrollo web. <br> Sin embargo, estoy muy entusiasmado y comprometido a aprender todo lo que pueda en el mundo del desarrollo. <br> Mi formación y habilidades me permiten afrontar con éxito los desafíos y asumir nuevas tareas. <br> Espero tener la oportunidad de demostrar mi capacidad y crecer profesionalmente en el campo del desarrollo web.</p>

</section>