<div class="container-fluid gradient pb-5">
  <div class="row">
    <div class="col-10" id="columna1">
          <h1 class="text-big px-2 color2 bg-1 rounded-end" id="SobreMi">Sobre Mi</h1>
        <Section class="row" id="contenido">
            <div class="col-sm-4 my-4 centro-img text-center">
                <img src="../../../assets/Miqueas-Santillán (3).jpg" class=" m-1" alt="Miqueas-Santillán">
            </div>
            <div class="col-lg-8 text-start">
                <p class="text-big my-5 color5 pe-5">Soy un joven de {{developer.edad}} años residente de {{developer.localidad}}, {{developer.provincia}}, apasionado por la tecnología y la música. Me considero una persona perseverante y comprometida con mis metas. Disfruto mucho de resolver problemas mediante el uso de tecnologías, y me siento motivado por los desafíos y la oportunidad de aprender nuevas habilidades. <br> <br>
                En mi tiempo libre, me gusta seguir aprendiendo y experimentando con nuevas tecnologías, explorando diferentes géneros musicales y componiendo mis propias canciones. También me gusta pasar tiempo con amigos y familia, y participar en actividades al aire libre, lo que me ayuda a mantener un equilibrio saludable entre mi vida profesional y personal. <br> <br>
                En resumen, soy una persona que corre en pos de lo que le gusta y apasiona, comprometido con el logro de mis metas personales y profesionales. Estoy emocionado por las posibilidades que el futuro me depara y estoy decidido a seguir aprendiendo y creciendo en ambas áreas para poder crear herramientas innovadoras y útiles para toda clase de personas.</p>
            </div>
        </Section> 
    </div>

    <div class="col-2 anim-1 rounded" id="columna2"></div>
  </div>
</div> 