<div class="container-fluid gradient pb-5">
  <div class="row">
    <div class="col-10 position-relative" id="columna1">
      <button type="button" class="bg-2 d-inline position-absolute end-0 px-3 py-2 my-3 mx-5 rounded-pill trans-color" *ngIf="ModoEdicion.edicion_activada">
        <i class="fa-solid fa-pencil fs-2 rounded-pill" *ngIf="ModoEdicion.edicion_activada && !ModoEdicion.EmpezarEditar" (click)="ModoEdicion.cambiar_parrafo(); ModoEdicion.Editar()"></i>
        <i class="fa-solid fa-circle-xmark fs-2 rounded-pill" *ngIf="ModoEdicion.EmpezarEditar" (click)="ModoEdicion.VolverNormalidad(texto); ModoEdicion.NoEditar()" ></i></button>
      <h1 class="text-big px-2 color2 bg-1 rounded-end" id="SobreMi">Sobre Mi</h1>
        <Section class="row" id="contenido">
            <div class="col-sm-4 my-4 centro-img text-center">
                <img src="../../../assets/Miqueas-Santillán (3).jpg" class=" m-1" alt="Miqueas-Santillán">
            </div>
            <div class="col-lg-8 text-start">
              <p class="text-big my-5 color5 pe-5 elem-edit" [innerText]="inputValue" [innerHTML]="texto">{{texto}}{{inputValue}}</p>
              <input type="text"  class="input-edit" *ngIf="ModoEdicion.EmpezarEditar" [(ngModel)]="inputValue">
              <button class="py-2 rounded-3 bg-3 trans-color" *ngIf="ModoEdicion.EmpezarEditar"><i class="fa-solid fa-pencil fs-5 btn rounded-3 py-2 color2" (click)="ModoEdicion.NoEditar(); ModoEdicion.NoCambiar_parrafo()"></i></button>
            </div>
        </Section> 
    </div>

    <div class="col-2 anim-1 rounded" id="columna2"></div>
  </div>
</div> 