<nav class="py-2 w-100 anim-1 rounded-3">
  <div class="row">
    <div class="col-4 d-flex justify-content-around color1 sin-deco" id="redes">
        <a href="https://www.instagram.com/miquee__/?igshid=ZDdkNTZiNTM%3D" target="_blank">
            <i class="fa-brands fa-instagram color2 rounded bg-1 p-2 mx-1 shadow1 trans-color"></i>
        </a>
        <a href="https://api.whatsapp.com/send?phone=541133889694" target="_blank">
           <i class="fa-brands fa-whatsapp color2 rounded bg-1 p-2 mx-1 shadow1 trans-color"></i>
        </a>
        <a href="https://github.com/Mique04?tab=repositories" target="_blank">
            <i class="fa-brands fa-github color2 rounded bg-1 p-2 mx-1 shadow1 trans-color"></i>
        </a>
     </div>
     <span class="col-4 text-center color2 bg-1 rounded p-2 shadow1 trans-color" id="portfolio-mique"> Portfolio~Mique </span>
    <div class="col-4 d-flex justify-content-around" id="ingreso">
      <div>
        <button type="button" class="bg-1 rounded color2 shadow1 p-2 mx-1 trans-color">
          <i class="fas fa-sign-in"></i>
        </button>
      </div>
      <div class="dropdown">
        <button class="bg-1 color2 rounded py-2 shadow1 px-2 mx-1 trans-color" type="button" data-bs-toggle="dropdown" aria-expanded="false"> {{ sections }} <i class="fa-solid fa-bars"></i></button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#sobre-mi">Sobre Mí</a></li>
          <li><a class="dropdown-item" href="#proyectos">Proyectos</a></li>
          <li><a class="dropdown-item" href="#educacion">Educación</a></li>
          <li><a class="dropdown-item" href="#skill">Skills</a></li>
          <li><a class="dropdown-item" href="#contacto">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>