section {
    position: absolute;
    width: 100%;
    height: 100%;
}

span {
    font-size: 12px;
}

h2 {
 font-weight: 900;
} 
h6{
    color: #1f20288a;
}

.centrarBig {
    top: 12.5%;
    left: 25%;
}
.centrarMidBig {
    top: 12.5%;
    left: 25%;
}
.centrarMidSmall {
    top: 12.5%;
    left: 12.5%;
}
.centrarSmall {
    top: 12.5%;
    left: 12.5%;
}

#volver {
    font-size: 15px;
}
#volver:hover {
    font-size: 17px;
}

button {
    font-size: 17px;
    font-weight: 600;
    text-decoration: underline;
    background-color: #131313;
    color: #e6e6e6;
    transition: all 0.4s ease-in-out;
    border: 2px solid #1f20288a;
}

.trans-color:hover{
    box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.90);
    background-color: #ece5e5;;
    color: #252423;
    font-size: 18px;
  }

button:hover {
    font-weight: 800;
  }
  
  
.trans-color:hover{
    box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.90);
    background-color: #ece5e5;;
    color: #252423;
  }